<div class="container jumbotron" style="background-color: rgba(255, 255, 255, 0.77); width: 30%; padding: 10px;box-shadow: 0 2px 10px 2px rgb(29, 29, 29);border-radius: 10px">
    <h1 class="display-5" style="text-align: center; padding: 10px; font-size:4vw;" >{{ title }}</h1>
</div>
<div class="container jumbotron">
    <p class="textBox" style="color: black;">{{{ contents }}}</p>
</div>
