<div class="container jumbotron" style="background-color: rgba(255, 255, 255, 0.77); width: 30%; padding: 10px;box-shadow: 0 2px 10px 2px rgb(29, 29, 29);border-radius: 10px">
    <h2 class="display-5" style="text-align: center; padding: 5px;" >{{ posting.postTitle }}</h1>
    <p class="text-muted" style="text-align: center; color: black;">{{ posting.currentDate }}</p>
</div>
<div class="container jumbotron" style="box-shadow: 0 4px 8px 3px black;">
    <p class="textBox lead" style="color: black;">{{{ posting.postCont }}}</p>
</div>
