<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/10abab0654.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Kulim+Park:600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style.css">
    <title>SchneiderSec Blog</title>
  </head>
  <body class="bg-dark">
    <nav class='navbar navbar-expand-md navbar-custom'>
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href='/blog'>Blog <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/about'>About Me <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/projects'>Projects<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto navbar-img" style="padding-left: 110px; padding-top: 10px;" href="/">SchneiderSec</a><img src="https://cdn.pixabay.com/photo/2013/07/13/13/41/bash-161382_960_720.png" class="img-fluid" style="margin: auto; width: 20%; padding: 5px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href='/contact'>Contact<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>

    </nav>
    {{{ body }}}
  </body>
</html>